<body class="home blog chrome">
<nav role="navigation" class="nav clearfix">
    <div class="col940 clearfix">
        <ul id="menu-home-top" class="menu">
            <li id="menu-item-7098"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-7098">
                <a href="{{ site.url }}"
                   onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}', 'Home');">Home</a>
            </li>
            <li id="menu-item-9807"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9807">
                <a>Recipes</a>
                <ul class="sub-menu">
                    <li id="menu-item-9808"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9808">
                        <a href="{{ site.url }}/appetizers/"
                           onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/appetizers/', 'Appetizers');">Appetizers</a>
                    </li>
                    <li id="menu-item-9818"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9818">
                        <a href="{{ site.url }}/breakfast/"
                           onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/breakfast/', 'Breakfast');">Breakfast</a>
                    </li>
                    <li id="menu-item-9819"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9819">
                        <a href="{{ site.url }}/lunch/"
                           onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/lunch/', 'Lunch');">Lunch</a>
                    </li>
                    <li id="menu-item-9811"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9811">
                        <a href="{{ site.url }}/dinner/"
                           onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/dinner/', 'Dinner');">Dinner</a>
                    </li>
                    <li id="menu-item-9810"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9810">
                        <a href="{{ site.url }}/dessert/"
                           onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/dessert/', 'Dessert');">Dessert</a>
                    </li>
                    <li id="menu-item-9809"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9809">
                        <a href="{{ site.url }}/beverages/"
                           onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/beverages/', 'Beverages');">Beverages</a>
                    </li>
                    <li id="menu-item-9817"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9817">
                        <a href="{{ site.url }}/vegetarian/"
                           onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/vegetarian/', 'Vegetarian');">Vegetarian</a>
                    </li>
                    <li id="menu-item-9820"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9820">
                        <a href="{{ site.url }}/bread/"
                           onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/bread/', 'Bread');">Bread</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-7099"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7099"><a
                    href="{{ site.url }}/about/"
                    onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/about/', 'About');">About</a>
            </li>
            <li id="menu-item-7101"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7101"><a
                    href="{{ site.url }}/contact/"
                    onclick="__gaTracker('send', 'event', 'top-navbar-link', '{{ site.url }}/contact/', 'Contact');">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div id="container">
    <header role="banner" class="header wrap">
        <div id="inner-header" class="clearfix">
            <div class="dots"></div>
            <p id="logo" class="h1">
                <a href="{{ site.url }}"><img src="{{site.url}}/public/images/logo-pink.png"
                                              style="margin-left:-20px; width:651px;"></a>
            </p>

            <div class="emailsignup" class="right">
                <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">#mc_embed_signup {
                    background: url("{{site.url}}/public/images/email_bg.png") top right no-repeat;
                    clear: left;
                    width: 577px;
                    height: 206px;
                }

                #mc_embed_signup input.email {
                    background: #fff;
                    position: relative;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    width: 220px;
                    padding: 5px 0;
                    border-color: #ffd7d6;
                    font-size: 90%;
                }

                #mc_embed_signup form {
                    float: left;
                    padding: 0;
                    margin-left: 135px;
                    margin-top: -30px;
                }

                #mc_embed_signup input.button {
                    background: #383535;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    font-family: 'proxima_nova_rgregular', Helvetica, sans-serif;
                    font-weight: normal;
                    float: right;
                    margin-right: -90px;
                    margin-top: -42px;
                }</style>
                <div id="mc_embed_signup">
                    <p class="emailp">Get new posts<br/>delivered right to your inbox!</p>

                    <form action="//failbone.us11.list-manage.com/subscribe/post?u=fb0a75db1267cb04aff121402&amp;id=17f46d85c8"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                               placeholder="email address" required>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                               class="button">
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div id="content">
        <div id="inner-content" class="wrap clearfix">
            <div id="main" class="boxed clearfix" role="main">

                {{ content }}

                {% if paginator.total_pages > 1 %}
                <nav class="page-navigation "><span class="page-of">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
                    <ul class="page_navi clearfix">
                        <li><a class='page-numbers' href='{{ site.url }}'>First</a></li>


                        {% if paginator.previous_page == 1 %}
                        <li><a class='page-numbers' href='{{ site.url }}'>Previous</a></li>
                        {% elsif paginator.previous_page > 1 %}
                        <li><a class='page-numbers' href='{{ paginator.previous_page_path }}'>Previous</a></li>
                        {% endif %}
                        {% if paginator.next_page %}
                        <li><a class='page-numbers' href='{{ site.url }}/page/{{ paginator.next_page }}/'>Next</a></li>
                        {% endif %}
                        <li><a class='page-numbers' href='{{ site.url }}/page/{{ paginator.total_pages }}/'>Last</a></li>
                    </ul>
                </nav>
                {% endif %}


            </div>
            <!-- end #main -->
            <div id="sidebar1" class="clearfix" role="complementary">


                <div id="text-26" class="widget clearfix widget_text">
                    <div class="textwidget">
                        <div id="TR-1">
                            <!--- This is the top right ad zone. Place this in your html where you want the top right ads to show up --></div>
                    </div>
                </div>
                 {% include recent_posts.html %}
                <div id="text-18" class="widget clearfix widget_text">
                    <div class="textwidget">
                        <div style="margin-top:120px">
                            <h3 class="wh3"><a href="{{ site.url }}/dessert/"
                                               onclick="__gaTracker('send', 'event', 'category-click', '{{ site.url }}/dessert/', 'Desserts');">Desserts</a>
                            </h3>
                            <img src="{{site.img_url}}/Dessert.jpg"
                                 alt="Dessert" class="wi3"/>
                        </div>
                    </div>
                </div>
                <div id="text-19" class="widget clearfix widget_text">
                    <div class="textwidget">
                        <div style="margin-top:120px">
                            <h3 class="wh3"><a href="{{ site.url }}/breakfast/"
                                               onclick="__gaTracker('send', 'event', 'category-click', '{{ site.url }}/breakfast/', 'Breakfast');">Breakfast</a>
                            </h3>
                            <img src="{{site.img_url}}/Breakfast.jpg"
                                 alt="Breakfast" class="wi3"/>
                        </div>
                    </div>
                </div>
                <div id="text-20" class="widget clearfix widget_text">
                    <div class="textwidget">
                        <div style="margin-top:120px">
                            <h3 class="wh3"><a href="{{ site.url }}/cookies/"
                                               onclick="__gaTracker('send', 'event', 'category-click', '{{ site.url }}/cookies/', 'Cookies');">Cookies</a>
                            </h3>
                            <img src="{{site.img_url}}/Cookies.jpg"
                                 alt="Cookies" class="wi3"/>
                        </div>
                    </div>
                </div>
                <div id="text-23" class="widget clearfix widget_text">
                    <div class="textwidget">
                        <div style="margin-top:120px">
                            <h3 class="wh3"><a href="{{ site.url }}/bread/"
                                               onclick="__gaTracker('send', 'event', 'category-click', '{{ site.url }}/bread/', 'Bread');">Bread</a>
                            </h3>
                            <img src="{{site.img_url}}/Bread.jpg" alt="Bread"
                                 class="wi3"/>
                        </div>
                    </div>
                </div>
                <div id="text-22" class="widget clearfix widget_text">
                    <div class="textwidget">
                        <div style="margin-top:120px">
                            <h3 class="wh3"><a href="{{ site.url }}/vegetarian/"
                                               onclick="__gaTracker('send', 'event', 'category-click', '{{ site.url }}/vegetarian/', 'Vegetarian');">Vegetarian</a>
                            </h3>
                            <img src="{{site.img_url}}/Vegetarian.jpg"
                                 alt="Vegetarian" class="wi3"/>
                        </div>
                    </div>
                </div>
                <div id="text-28" class="widget clearfix widget_text">
                    <div class="textwidget"></div>
                </div>
                <div id="text-25" class="widget clearfix widget_text">
                    <div class="textwidget">
                        <div id="RR-1">
                            <!--- This is the right rail tiles ad zone. Place this in your html where you want the right rail tile ads to show up --></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end #inner-content -->

    </div>
    <!-- end #content -->
</div>
</body>